### Scala ###
*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/
checkpoint/

# Scala-IDE specific
.scala_dependencies
.worksheet

# For password files:
config.scala*

# Ugly .something~ files
*.*~

# Random things for this particular project
topFeatures.txt
LIBSVMOutput.txt
